section.about
  .col-1
    p Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Vestibulum consectetur lectus
    tellus, quis sollicitudin eros ornare sit amet.
    Fusce at leo et erat feugiat finibus ac quis
    nisi. Curabitur pretium nisl sed tortor ultricies,
    a tempus sapien interdum. Phasellus convallis
    magna lacus. Donec viverra leo in nisi scelerisque
    vulputate. Praesent vitae ligula a metus pretium
    elementum. Curabitur imperdiet varius pulvinar.
    Nullam vel tortor consequat, bibendum lorem vel,
    varius nibh.

  .col-1
    p Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Vestibulum consectetur lectus
    tellus, quis sollicitudin eros ornare sit amet.
    Fusce at leo et erat feugiat finibus ac quis
    nisi. Curabitur pretium nisl sed tortor ultricies,
    a tempus sapien interdum. Phasellus convallis
    magna lacus. Donec viverra leo in nisi scelerisque
    vulputate. Praesent vitae ligula a metus pretium
    elementum. Curabitur imperdiet varius pulvinar.
    Nullam vel tortor consequat, bibendum lorem vel,
    varius nibh.
