section
  .flex.flex--center
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur
    .col-1
      p CTA Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
section
  .flex.flex--center
    .col-50
      p  Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
      tellus, quis sollicitudin eros ornare sit amet.
    .col-50.flex.flex--center.order-first
      .col-1
        p  CTA Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Vestibulum consectetur lectus
section
  .flex.flex--space-around
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
section
  .flex.flex--center
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
    .col-1
      p CTA Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
section
  .flex.flex--center
    .col-50
      p  Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
    .col-50.flex.flex--center.order-first
      .col-1
        p  CTA Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Vestibulum consectetur lectus
section
  .flex.flex--center
    .col-2
      p  contact Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
