footer
  h1 nora salem

  .social-accounts
    ul
      li
        i.fa-li.fa.fa-lg.fa-twitter
        a(href="#").fa .fa-twitter  twitter
      li
        i.fa-li.fa.fa-lg.fa-instagram 
        a(href="#").fa .fa-twitter  twitter
      li
        i.fa-li.fa.fa-lg.fa-github
        a(href="#").fa .fa-twitter  twitter
