footer
  .footer-position
    h1 nora salem

    .social-accounts
      ul
        li
          a(href="#")
            span.fa.fa-2x.fa-twitter.circle
            span Twitter
        li
          a(href="#")
            span.fa.fa-2x.fa-instagram.circle
            span Instagram
        li
          a(href="https://github.com/norahsalem")
            span.fa.fa-2x.fa-github.circle
            span Github
