mixin nav-content()
  ul
    li: a(href="#section-about") home
    li: a(href="{{ site.pages["about.html"].permalink }}") about
    li: a(href="#section-designs") designs
    li: a(href="#section-projects") projects
    li: a(href="#section-articles") articles
    li: a(href="{{ site.baseurl }}{% link _includes/section-contact.html %}") contact

.mobile-nav
  +nav-content()

header
 .header-position
    .logo
      .name
        p nora salem
        p Developer & Designer

    nav.nav-site
      +nav-content()

    .lang
      a(href="#") EN
      a(href="#") AR

    .mobile-nav-toggle: span
