mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#design") Design
    li: a(href="#projects") Projects
    li: a(href="#articles") Articles
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
 .header-position
    .logo
      .name
        p nora salem
        p Developer & Designer

    nav.nav-site
      +nav-content()

    .lang
      a(href="#") EN
      a(href="#") AR

    .mobile-nav-toggle: span
