header
  h1.logo nora salem

  nav.nav-site
    ul
      li: a(href="home") home
      li: a(href="about") about
      li: a(href="designs") designs
      li: a(href="projects") projects
      li: a(href="articles") articles
      li: a(href="contact") contact
