mixin nav-content()
  ul
    li: a(href="home") home
    li: a(href="about") about
    li: a(href="designs") designs
    li: a(href="projects") projects
    li: a(href="articles") articles
    li: a(href="contact") contact

.mobile-nav
  +nav-content()

header
 .header-position
    .logo
      .name
        p nora salem
        p Developer & Designer

    nav.nav-site
      +nav-content()

    .lang
      a(herf="#") EN
      a(herf="#") AR

    .mobile-nav-toggle: span
