section.contact
  .flex.flex--center
    .col-2
      p  contact Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum consectetur lectus
      tellus, quis sollicitudin eros ornare sit amet.
      Fusce at leo et erat feugiat finibus ac quis
      nisi.
