section.article
  .flex.flex--center
    .col-50
      .article-warp
        {% for post in site.posts limit: 6 %}
        a(href="{{post.url}}" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})").article-thumb
          .article-meta
            .name {{post.title}}
            .date {{post.date | date: "%b %d, %Y"}}
        {% endfor %}

    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p  CTA Lorem ipsum dolor sit amet, consectetur
          a(href="#").home-cta All Articles
