section.design
  .flex.flex--center
    .col-50
      img(src="http://placehold.it/400x200").user
      img(src="http://placehold.it/400x200").user
      img(src="http://placehold.it/400x200").user
      img(src="http://placehold.it/400x200").user
      img(src="http://placehold.it/400x200").user
      img(src="http://placehold.it/400x200").user

    .col-50.flex.flex--center.order-first
      .col-1
        p.home-lead Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Vestibulum consectetur lectus
        tellus, quis sollicitudin eros ornare sit amet.
        Fusce at leo et erat feugiat finibus ac quis
        nisi.
        a(herf="http://https://www.behance.net/").home-cta go to behance
