section.about#section-about
  .flex.flex--center
    .col-1
      h2 Find out what my powerful skills & What technologies I can work with ......
    .col-1
      a(href="{{ site.pages["about.html"].permalink }}").home-cta About me
