mixin design-img(link , img)
  a(href="#{link}").design-img-link
    img(src="assets/img/design-img/#{img}")

section.design
  .flex.flex--center
    .col-50
      +design-img('https://www.behance.net/','be-1.png')
      +design-img('https://www.behance.net/','be-2.jpg')
      +design-img('https://www.behance.net/','be-3.jpg')
      +design-img('https://www.behance.net/','be-4.jpg')
      +design-img('https://www.behance.net/','be-5.jpg')
      +design-img('https://www.behance.net/','be-6.png')

    .col-50.flex.flex--center.order-first
      .col-1
        p.home-lead you will always find my newest graphic design work and more on behance
        a(href="https://www.behance.net/").home-cta see more on behance
