section.about
  background:
    image: url(../img/about-section.png)
    position: center bottom
    size: cover
  color: white

  h2
    color: #ffffff
    font:
      size: 50px
      weight: 400
    line-height: 1
